a[tabindex], [role=button] {
  cursor: pointer;
}

.datepicker-header {
  background: #fff;
  padding: 10px 30px;
}

.datepicker-header .button-col {
  padding: 12px;
  max-width: 65px;
}

.datepicker-header .date-col {
  font-size: 22px;
  max-width: 220px;
  text-align: center;
  font-weight: 600;
  padding-top: 13px;
}

tr:hover .edit-cell .edit-icon {
  color: #33b35a;
}

.edit-cell .edit-icon {
  font-size: 12px;
  padding-left: 5px;
  color: white;
}

.menu-btn {
  background: none;
  border: none;
}

.table-child-row th {
  font-weight: normal;
  padding-left: 30px;
}

.budget-column, .actual-column, .variance-column {
  width: 120px;
}

.btn-link:focus {
  box-shadow: none !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    margin-top: 150px;
  }
}